*.bin
*.elf
*.hex
*.list
*.map
*.lst
*.srec
*.o

*.orig
*.rej

*.swp
._*
.DS_Store
*.uf2
freebsd-ra/mecrisp-stellaris-freebsd
linux-ra/mecrisp-stellaris-linux
linux-ra/mecrisp-stellaris-linux-vis
linux-ra/mecrisp-stellaris-linux-with-disassembler-and-math
linux/mecrisp-stellaris-linux
thumbulator/thumbulator-lm4f120-tm4c1294
thumbulator/thumbulator-aducm4050
thumbulator/thumbulator-lpc845m301
thumbulator/thumbulator-numworks
thumbulator/thumbulator-palanqin
thumbulator/thumbulator-rp2040
thumbulator/thumbulator-stm32f051
thumbulator/thumbulator-stm32f103
thumbulator/thumbulator-stm32f303
thumbulator/thumbulator-stm32g031
thumbulator/thumbulator-stm32l053
palanqin/palanqin/palanqin.com
palanqin/palanqin/palanqin.lst
mecrisp-stellaris-source/linux-ra.tar.gz

rp2040-ra/mandelboot/Emulator/thumbulator-rp2040-bootblock
rp2040-ra/mandelboot/Proof-of-concept/asciimandel
rp2040-ra/mandelboot/Proof-of-concept/mandelint
rp2040-ra/mandelboot/Proof-of-concept/tricornint
mecrisp-stellaris-source/freebsd-ra/mecrisp-stellaris-freebsd
mecrisp-stellaris-source/linux-ra/mecrisp-stellaris-linux
mecrisp-stellaris-source/linux/mecrisp-stellaris-linux
